::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(44, 134, 217);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(23, 90, 153);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#background {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/house/1.jpeg");
}

body::-webkit-scrollbar {
    display: none;
}

#container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nome {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}

#dropdown {
    width: 150px;
}

#dropdown:hover #languages {
    display: block;
}

#select {
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "EB Garamond", serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

#languages {  
    width: 150px;
    height: 100px;
    display: none;
    overflow-y: scroll;
    position: absolute;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.flag {
    gap: 10px;
    height: 50px;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    padding-left: 5px;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "EB Garamond", serif;
}

.flag:hover {
    background-color: rgb(221, 221, 221);
}

.flag img {
    padding-left: 5px;
}

#titolo, #sottotitolo {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}

#w {
    margin-top: 50px;
}

#titolo {
    font-size: 50px;
}

#sottotitolo {
    font-size: 25px;
}

#h {
    display: flex;
    align-items: center;
}

hr {
    width: 30%;
}

#point {
    margin: 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#d {
    justify-content: space-evenly;
    display: flex;
    height: 100%;
    align-items: center
}

#prenota {
    width: 300px;
    height: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    background-color: rgb(44, 134, 217);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}  