:root {
    --margin-top: 30px;
    --font-size-1: 15px;
    --font-size-2: 30px;
    --image-height: 325px;
    --button-width: 225px;
    --button-height: 45px;
    --select-width: 100px;
    --select-height: 30px;
}

@media screen and (max-width: 1440px) {
    :root {
        --scale: calc(1440 / 320 - 3);
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --scale: calc(1024 / 320 - 2);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --scale: calc(768 / 320 - 1);
    }
}

@media screen and (max-width: 425px) {
    :root {
        --scale: calc(425 / 320);
    }
}

@media screen and (max-width: 375px) {
    :root {
        --scale: calc(375 / 320);
    }
}

@media screen and (max-width: 320px) {
    :root {
        --scale: calc(320 / 320);
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(44, 134, 217);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(23, 90, 153);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#background {
    height: calc(var(--image-height) * var(--scale));
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/house/1.jpeg");
}

#navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#site-name {
    margin: 0;
    font-size: calc(var(--font-size-1) * var(--scale));
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.75));
}

select {
    width: calc(var(--select-width) * var(--scale));
    height: calc(var(--select-height) * var(--scale));
    cursor: pointer;
    font-size: calc(var(--font-size-1) * var(--scale));
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-family: "EB Garamond", serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

#w {
    margin-top: calc(var(--margin-top) * var(--scale));
}

#title, #subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.75));
}

#title {
    font-size: calc(var(--font-size-2) * var(--scale));
}

#subtitle {
    font-size: calc(var(--font-size-1) * var(--scale));
}

#h {
    display: flex;
    align-items: center;
}

hr {
    width: 30%;
}

#point {
    margin: 0;
    font-size: calc(var(--font-size-1) * var(--scale));
    color: rgb(255, 255, 255);
}

#d {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#book {
    width: calc(var(--button-width) * var(--scale));
    height: calc(var(--button-height) * var(--scale));
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: calc(var(--font-size-1) * var(--scale));
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    background-color: rgb(44, 134, 217);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
}