body {
    margin: 0;
    cursor: default;
    overflow: hidden;
    font-family: "Cabin", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

form {
    top: 50%;
    left: 50%;
    gap: 10px;
    width: 35%;
    display: flex;
    padding: 50px;
    position: absolute;
    border-radius: 10px;
    flex-direction: column;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 104, 248);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

#languages {
    width: 20%;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 5px;
    border-radius: 5px;
    font-family: "Cabin", sans-serif;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

fieldset {
    color: rgb(255, 255, 255);    
}

#dates {
    gap: 5px;
    display: flex;
}

#arrive {
    flex: 0.5;
}

#departure {
    flex: 0.5;
}

input {
    width: 100%;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Outfit", sans-serif;
}

#book {
    width: 100%;
    height: 65px;
    border: none;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Cabin", sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
}

#book:hover {
    border-radius: 90px;
}