<!DOCTYPE html>
<html lang = '{{lang["country code"]}}'>
    <head>
        <meta charset = "UTF-8">
        <title>{{lang["tab title"]}}</title>
        <meta name = "theme-color" content = "#2568f8">
        <meta name = "author" content = "Alessandro Panzieri">
        <meta name = "description" content = '{{lang["description"]}}'>
        <link rel = "icon" href = "../../static/assets/icons/favicon.png">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "../../static/css/book-holiday-home/min/mobile-small.min.css" media = "screen and (max-width: 320px)">
        <link rel = "stylesheet" href = "../../static/css/book-holiday-home/min/mobile-medium.min.css" media = "screen and (min-width: 321px) and (max-width: 375px)">
        <link rel = "stylesheet" href = "../../static/css/book-holiday-home/min/mobile-large.min.css" media = "screen and (min-width: 376px) and (max-width: 425px)">
        <link rel = "stylesheet" href = "../../static/css/book-holiday-home/min/tablet.min.css" media = "screen and (min-width: 426px) and (max-width: 768px)">
        <link rel = "stylesheet" href = "../../static/css/book-holiday-home/min/pc-small.min.css" media = "screen and (min-width: 769px) and (max-width: 1024px)">
        <link rel = "stylesheet" href = "../../static/css/book-holiday-home/min/pc-medium.min.css" media = "screen and (min-width: 1025px) and (max-width: 1440px)">
        <link rel = "stylesheet" href = "../../static/css/book-holiday-home/min/pc-large.min.css" media = "screen and (min-width: 1441px)">

        <script src = "../../static/third-party/jQuery-3.7.1/jQuery.min.js"></script>
    </head>
    <body>
        <main>
        </main>

        <script src = "../../static/js/min/book-holiday-home.min/js"></script>
    </body>
</html>