<!DOCTYPE html>
<html lang = '{{lang["country code"]}}'>
    <head>
        <meta charset = "UTF-8">
        <title>{{lang["tab title"]}}</title>
        <meta name = "theme-color" content = "#2568f8">
        <meta name = "author" content = "Alessandro Panzieri">
        <meta name = "description" content = '{{lang["description"]}}'>
        <link rel = "icon" href = "../static/assets/icons/favicon.png">
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/all-devices.css">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <script src = "../static/third-party/jQuery-3.7.1/jQuery.min.js"></script>
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/mobile-small.css" media = "screen and (min-width: 0) and (max-width: 320px)">
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/mobile-medium.css" media = "screen and (min-width: 321px) and (max-width: 375px)">
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/mobile-large.css" media = "screen and (min-width: 376px) and (max-width: 425px)">
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/tablet.css" media = "screen and (min-width: 426px) and (max-width: 768px)">
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/pc-small.css" media = "screen and (min-width: 769px) and (max-width: 1024px)">
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/pc-large.css" media = "screen and (min-width: 1025px) and (max-width: 1440px)">
        <link rel = "stylesheet" href = "../static/css/city-tax-payment/pc-huge.css" media = "screen and (min-width: 1441px)">
    </head>
    <body>
        <main>
        </main>
        <script src = "../static/js/city-tax-payment.js"></script>
    </body>
</html>