<!DOCTYPE html>
<html lang = "{{next(lang)}}">
    <head>
        <meta charset = "UTF-8">
        <title>Garbatella Stylish Living</title>
        <meta name = "keywords" content = "{{next(lang)}}">
        <meta name = "description" content = "{{next(lang)}}">
        <link rel = "icon" href = "../static/assets/favicon.png">
        <link rel = "stylesheet" href = "../static/css/index.css">
        <link rel = "canonical" href = "https://www.garbatellastylishliving.com">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-48TLHLB0VM"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "G-48TLHLB0VM");
        </script>
    </head>
    <body>
        <nav>
        </nav>
        <main>
        </main>
        <footer>
        </footer>

        <script src = "../static/js/index.js"></script>
    </body>
</html>