<!DOCTYPE html>
<html lang = '{{lang["country code"]}}'>
    <head>
        <meta charset = "UTF-8">
        <title>{{lang["tab title"]}}</title>
        <meta name = "theme-color" content = "#2568f8">
        <meta name = "author" content = "Alessandro Panzieri">
        <meta name = "description" content = '{{lang["description"]}}'>
        <link rel = "icon" href = "../../static/assets/icons/favicon.png">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel = "canonical" href = "https://www.garbatella-elegant-apartment.com">
        <link rel = "stylesheet" href = "../../static/css/index/min/mobile-small.min.css" media = "screen and (max-width: 320px)">
        <link rel = "stylesheet" href = "../../static/css/index/min/mobile-medium.min.css" media = "screen and (min-width: 321px) and (max-width: 375px)">
        <link rel = "stylesheet" href = "../../static/css/index/min/mobile-large.min.css" media = "screen and (min-width: 376px) and (max-width: 425px)">
        <link rel = "stylesheet" href = "../../static/css/index/min/tablet.min.css" media = "screen and (min-width: 426px) and (max-width: 768px)">
        <link rel = "stylesheet" href = "../../static/css/index/min/pc-small.min.css" media = "screen and (min-width: 769px) and (max-width: 1024px)">
        <link rel = "stylesheet" href = "../../static/css/index/min/pc-medium.min.css" media = "screen and (min-width: 1025px) and (max-width: 1440px)">
        <link rel = "stylesheet" href = "../../static/css/index/min/pc-large.min.css" media = "screen and (min-width: 1441px)">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" type = "text/css" href = "https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap">

        <script src = "../../static/third-party/jQuery-3.7.1/jQuery.min.js"></script>

        <link rel = "stylesheet" href = "../../static/third-party/slick-1.8.1/slick-theme.css">
        <script src = "../../static/third-party/slick-1.8.1/slick.min.js"></script>

        <script async src = "https://www.googletagmanager.com/gtag/js?id=G-48TLHLB0VM"></script>
        <script type = "text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "G-48TLHLB0VM");
        </script>
    </head>
    <body>
        <main>

            <header>
                <nav id = "navbar">
                    <p id = "name">Garbatella Elegant Apartment</p>
                    <select id = "languages">
                        {% for language in lang["supported languages"] %}
                            <option value = "{{language}}">{{language}}</option>
                        {% endfor %}
                    </select>
                </nav>

                <p id = "title">{{lang["header title"]}}</p>
                <p id = "subtitle">{{lang["header subtitle"]}}</p>
                <div id = "center"><button class = "book">{{lang["book button"]}}</button></div>
            </header>

            <section id = "sliders">
                <div id = "slider-for">
                    <img class = "slide" src = "../../static/assets/house/house-01.jpeg" alt = "entrance">
                    <img class = "slide" src = "../../static/assets/house/house-02.jpeg" alt = "living room">
                    <img class = "slide" src = "../../static/assets/house/house-03.jpeg" alt = "living room">
                    <img class = "slide" src = "../../static/assets/house/house-04.jpeg" alt = "terrace">
                    <img class = "slide" src = "../../static/assets/house/house-05.jpeg" alt = "bed room">
                    <img class = "slide" src = "../../static/assets/house/house-06.jpeg" alt = "bathroom">
                    <img class = "slide" src = "../../static/assets/house/house-07.jpeg" alt = "kitchen">
                    <img class = "slide" src = "../../static/assets/house/house-08.jpeg" alt = "bed room">
                    <img class = "slide" src = "../../static/assets/house/house-09.jpeg" alt = "terrace">
                    <img class = "slide" src = "../../static/assets/house/house-10.jpeg" alt = "hall">
                </div>
                <div id = "slider-nav">
                    <img class = "slide" src = "../../static/assets/house/house-01.jpeg" alt = "entrance">
                    <img class = "slide" src = "../../static/assets/house/house-02.jpeg" alt = "living room">
                    <img class = "slide" src = "../../static/assets/house/house-03.jpeg" alt = "living room">
                    <img class = "slide" src = "../../static/assets/house/house-04.jpeg" alt = "terrace">
                    <img class = "slide" src = "../../static/assets/house/house-05.jpeg" alt = "bed room">
                    <img class = "slide" src = "../../static/assets/house/house-06.jpeg" alt = "bathroom">
                    <img class = "slide" src = "../../static/assets/house/house-07.jpeg" alt = "kitchen">
                    <img class = "slide" src = "../../static/assets/house/house-08.jpeg" alt = "bed room">
                    <img class = "slide" src = "../../static/assets/house/house-09.jpeg" alt = "terrace">
                    <img class = "slide" src = "../../static/assets/house/house-10.jpeg" alt = "hall">
                </div>
            </section>

            <footer id = "info">
                <iframe id = "map" title = "Garbatella Elegant Apartment" src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1485.646389142045!2d12.493335485153713!3d41.86504690519352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258b0a8680a7f7%3A0x30b341755018f6cb!2sGarbatella%20Elegant%20Apartment!5e0!3m2!1sen!2sit!4v1693959592948!5m2!1sen!2sit" allowfullscreen="" loading = "lazy" referrerpolicy = "no-referrer-when-downgrade"></iframe>

                <div id = "tabs-container">

                    <div id = "tabs-buttons">
                        <button class = "tab-button active" data-tab = "home">{{lang["home"]}}</button>
                        <button class = "tab-button" data-tab = "district">{{lang["district"]}}</button>
                        <button class = "tab-button" data-tab = "prohibited">{{lang["prohibited"]}}</button>
                        <button class = "tab-button" data-tab = "contact">{{lang["contact"]}}</button>
                    </div>

                    <div id = "home" class = "tab-content active">
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-01.png" alt = "living room">{{lang["living room"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-02.png" alt = "bed room">{{lang["bed room"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-03.png" alt = "bathroom">{{lang["bathroom"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-04.png" alt = "kitchen">{{lang["kitchen"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-05.png" alt = "terrace">{{lang["terrace"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-06.png" alt = "free wifi">{{lang["free wifi"]}}</div>
                    </div>

                    <div id = "district" class = "tab-content">
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-07.png" alt = "supermarket">{{lang["supermarket"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-08.png" alt = "auto parking">{{lang["auto parking"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-09.png" alt = "tobacco shop">{{lang["tobacco shop"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-10.png" alt = "cafe">{{lang["cafe"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-11.png" alt = "metro">{{lang["metro"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-12.png" alt = "city center">{{lang["city center"]}}</div>
                    </div>

                    <div id = "prohibited" class = "tab-content">
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-13.png" alt = "no animals">{{lang["no animals"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-13.png" alt = "no smoke">{{lang["no smoke"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-13.png" alt = "no party">{{lang["no party"]}}</div>
                    </div>

                    <div id = "contact" class = "tab-content">
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-14.png" alt = "email">{{lang["email"]}}</div>
                        <div class = "icon-text"><img src = "../../static/assets/icons/icon-15.png" alt = "phone">{{lang["phone"]}}</div>
                    </div>

                    <button class = book>{{lang["book button"]}}</button>
                </div>
            </footer>

            <div id = "tax"><a href = "/tourist-tax-payment">{{lang["tourist tax"]}}</a></div>
        </main>

        <script src = "../../static/js/min/index.min.js"></script>
    </body>
</html>