<!DOCTYPE html>
<html lang = "{{next(lang)}}">
    <head>
        <title>HomePage</title>
        <meta charset = "UTF-8">
        <meta name = "theme-color" content = "#2c86d9">
        <meta name = "author" content = "Alessandro Panzieri">
        <meta name = "description" content = "{{next(lang)}}">
        <link rel = "icon" href = "../static/assets/favicon.png">
        <link rel = "stylesheet" href = "../static/css/index.css">
        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <script src = "../static/third-party/jQuery-3.7.1/jQuery.min.js"></script>
        <script src = "../static/third-party/slick-1.8.1/slick.min.js"></script>
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "canonical" href = "https://www.garbatellastylishliving.com">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "../static/third-party/slick-1.8.1/slick-theme.css"/>
        <script async src = "https://www.googletagmanager.com/gtag/js?id=G-48TLHLB0VM"></script>
        <link rel = "stylesheet" type = "text/css" href = "https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap">
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "G-48TLHLB0VM");
        </script>
    </head>
    <body>
        <main>
            <div id = "background">
                <nav id = "navbar">
                    <p id = "site">Garbatella Stylish Living</p>
                    <select id = "languages">
                        {% for x in range(2) %}
                            {% set country = next(lang)%}
                            <option value = "{{country}}">{{country}}</option>
                        {% endfor %}
                    </select>
                </nav>
                <p id = "title">{{next(lang)}}</p>
                <p id = "subtitle">{{next(lang)}}</p>
                <div id = "center">
                    <button id = "book">{{next(lang)}}</button>
                </div>
            </div>
            <div id = "carousel">
                <img class = "slide" src = "../static/assets/house/ingresso.jpeg" alt = "entrance">
                <img class = "slide" src = "../static/assets/house/salone-1.jpeg" alt = "living room">
                <img class = "slide" src = "../static/assets/house/salone-2.jpeg" alt = "living room">
                <img class = "slide" src = "../static/assets/house/terrazzo-1.jpeg" alt = "terrace">
                <img class = "slide" src = "../static/assets/house/camera-letto-2.jpeg" alt = "bed room">
                <img class = "slide" src = "../static/assets/house/bagno.jpeg" alt = "bathroom">
                <img class = "slide" src = "../static/assets/house/cucina.jpeg" alt = "kitchen">
                <img class = "slide" src = "../static/assets/house/camera-letto-1.jpeg" alt = "bed room">
                <img class = "slide" src = "../static/assets/house/terrazzo-2.jpeg" alt = "terrace">
                <img class = "slide" src = "../static/assets/house/androne.jpeg" alt = "hall">
            </div>
        </main>
        <footer>
        </footer>
        <script src = "../static/js/index.js"></script>
    </body>
</html>